{% extends 'base.html.twig' %}

{% block title %}SignUp{% endblock %}

{% block body %}
    {% include '_flashes.html.twig' %}
    <h1 class="container p-5 my-5 border bg-light text-dark text-center">Sign up</h1>
    <div class="container p-5 my-5 text-center">
    {{ form_start(form) }}
    <div class="mb-3 mt-3">
    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
    {{ form_errors(form.email) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
        {{ form_errors(form.password) }}
    </div>
    <button type="submit" class="btn btn-block btn-success">Sign up</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
